.nav-dropdown {
  display: none;
}
@media (max-width: 800px) {
  .nav-dropdown {
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
  }
  .nav-menu{
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fde1ff;
    flex-direction: column;
    align-items: center; */
    justify-content: center;
    gap: 20px;
  

  }
  .nav-menu-visible{
    display: flex;
  }

  .nav-dropdown.open{
    transform: rotate(90deg);
    fill: aqua;
  }
}
