.loginsignup {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background: #fce3fe;
}
.loginsignup-container {
  width: 580px;
  height: 700px;
  background: white;
  margin: auto;
  padding: 20px 60px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginsignup-container h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsignup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c5c;
  font-size: 18px;
}
/* .loginsignup-container {
  text-align: center;
  border: 1px solid red;
} */
.loginsignup-container button {
  width: 400px;
  height: 72px;
  border-radius: 40px;
  background: #ff4141;
  color: white;
  font-size: 24px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.loginsignup-container button:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.loginsignup-login {
  margin-top: 30px;
  color: #5c5c5c5c;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.loginsignup-login a {
  color: #ff4141;
  cursor: pointer;
  font-weight: 600;
}
.loginsignup-login a:hover {
  text-decoration: underline;
}

.loginsignup-agree {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #5c5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.loginsignup-agree input {
  cursor: pointer;
  color: #171717;
  font-weight: 900;
  height: 30px;
  width: 30px;
  border: 1px solid #171717;
  border-radius: 5px;
  outline: none;
}
.loginsignup-agree span {
  color: #ff4141;
  cursor: pointer;
  font-weight: 600;
}
.loginsignup-agree span:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  .loginsignup {
    padding-top: 50px;
  }
  .loginsignup-container {
    width: auto;
    max-width: 500px;
    max-height: 500px;
  }
  .loginsignup-container h1 {
    margin: 10px 0px;
  }
  .loginsignup-fields {
    gap: 20px;
    margin-top: 20px;
  }
  .loginsignup-fields input {
    height: 65px;
    width: 93%;
  }
  .loginsignup-container button {
    width: 85%;
    height: 60px;
  }
  .loginsignup-login {
    margin-top: 20px;
    font-size: 16px;
  }
  .loginsignup-agree {
    margin-top: 14px;
  }
}

@media (max-width: 800px) {
  .loginsignup-container {
    padding: 20px 30px;
  }
  .loginsignup-container h1 {
    font-size: 24px;
  }
  .loginsignup-fields {
    margin-top: 20px;
  }
  .loginsignup-fields input {
    height: 50px;
  }
  I .loginsignup-container button {
    height: 50px;
    font-size: 16px;
    margin: auto;
  }
}
