.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 130vh;
}
.relatedproducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.relatedproducts hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #25252525;
}

.relatedproducts-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1280px) {
  .relatedproducts {
    height: 55vh;
  }
}
@media (max-width: 1024px) {
  .relatedproducts {
    height: 85vh;
  }
}

@media (max-width: 800px) {
  .relatedproducts {
    height: 45vh;
  }
}
@media (max-width: 500px) {
  .relatedproducts {
    height: 85vh;
  }
}
