.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  border-radius: 10px;
  background-color: #252525;
}
.popular-items {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

@media(max-width:1280px){
  .popular{
    height: 70vh;
  }
  .popular h1{
    font-size: 40px;
  }
  .popular hr{
    width: 160px;
    height: 4px;
  }
  .popular-items{
    gap: 20px;
    margin-top: 30px;
  }
}